<h1>Listing tweets</h1>

<table>
  <tr>
    <th>Tweet</th>
    <th>Location</th>
    <th>Hash Tags</th>
  </tr>

<% @tweets.each do |tweet| %>
  <tr>
    <td><%= link_to tweet.tweet, tweet %></td>
    <td><%= tweet.location %></td>
    <td><%= tweet.hashtags.blank? ? "N/A" : tweet.hashtags.collect { |ht| "#" + ht['text'] }.join(", ") %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tweet', new_tweet_path %>
