<p>
  <b>Tweet:</b>
  <%= @tweet.tweet %>
</p>

<p>
  <b>Location:</b>
  <%= @tweet.location %>
</p>

<p>
  <b>Hash Tags:</b>
  <%= @tweet.hashtags.blank? ? "N/A" : @tweet.hashtags.collect { |ht| "#" + ht['text'] }.join(", ") %>
</p>

<%= link_to 'Back', tweets_path %>
